.outline-title {
  text-shadow: 1px 1px 0 #00EC46, -1px -1px 0 #00EC46, 1px -1px 0 #00EC46, -1px 1px 0 #00EC46, 1px 1px 0 #00EC46;
}

.btnGreen{
  color: #fff;
  font-weight: bold;
  padding: 14px 20px;
  min-width: 180px;
  text-align: center;
  border:2px solid #fff;
  border-radius: 5px;
  margin: -20px 0 20px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase;
 }
 
 .btnGreen:hover{
  background: #00EC46;
  border-color: #00EC46;
 }
 
 .flex-column{
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  position: relative;
  margin-bottom: 50px
 }
 
 .flex-column svg{
  width: 100%
 }

 .bg-primary{
   background: #00EC46 !important;
 }

 .text-primary{
  color: #00EC46 !important;
 }

 .textCenter{
  text-align: center;
 }

 .centerimg{
  margin: auto;
 }

 .bgGreen{
  background: #002D0D;
 }

.overlay{
  position: relative;
}
 
 .overlay:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url('../public/overlay.png') no-repeat center;
  left: 0;
  top: 0
 }

 .buyImg {
  max-width: 696px;
  height: 300px;
  margin-left: auto;
  margin-right: auto
 }
 
 .buyImg img{
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover
 }



 @media (max-width:767px){
  .btnRed{
    font-size: 14px;
    padding: 8px 15px 10px;
    min-width: 140px;
  }

  .h-screen {
    height: 85vh !important;
}
 }

  
 @media (max-width:600px){
 

  .buyImg {
    height: 200px;
  }
 }
 
 @media (max-width:479px){
  .btnRed{
  bottom: -20px;
  }

 }